@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-blue-gradient {
    background: linear-gradient(to bottom right, #2563eb, #1d4ed8, #1e40af);
  }

  .bg-blue-gradient-light {
    background: linear-gradient(to bottom right, #eff6ff, #ffffff);
  }

  .bg-blue-card-gradient {
    background: linear-gradient(to bottom right, #3b82f6, #2563eb);
  }

  .bg-gray-gradient {
    background: linear-gradient(to bottom right, #111827, #1f2937);
  }
}
